<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Diperlukan agar aplikasi bisa mengakses internet (mis. memanggil
         Google Apps Script Web App untuk membaca/menulis data buku). -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- WAJIB: dipakai untuk ambil foto wajah (absensi) & foto bukti (patroli/insiden) -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- WAJIB: dipakai untuk validasi geofencing absensi, tagging GPS checkpoint,
         dan lokasi insiden. Tanpa ini geolocator akan gagal total (ini penyebab
         error "No location permissions are defined in the manifest" di screenshot). -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- WAJIB: dipakai untuk menginstal file APK update secara otomatis di dalam aplikasi -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>

    <!-- Dipakai package:camera untuk memastikan device benar-benar punya kamera -->
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:label="Patroli GAP"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <!-- WAJIB untuk google_mlkit_face_detection: memaksa model wajah ML Kit
             ter-download & siap sejak aplikasi diinstall, bukan lazy-load saat
             pertama kali dipakai. Tanpa meta-data ini, panggilan pertama ke
             FaceDetector di device tertentu (terutama MIUI/Xiaomi) sering gagal
             dengan PlatformException(FaceDetectorError, Internal error ...)
             karena model belum siap / Play Services belum sempat menyiapkannya. -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>